<!-- Page Content -->
<div class="container">

  <div class="row">



    <div class="col-lg-12">


      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Personal Notes
        </div>
        <% for(var i=0;i< context.length;i++){ %>
          <div class="card-body">
            <h2>
              <%= context[i].title %>
            </h2>
            <p>
              <%= context[i].content %>
            </p>
            <small class="text-muted">Posted by Edwin Babu on 3/1/17</small>
            <hr>
          </div>
          <% } %>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>