<html>
    <body>
        <h2><%=form%></h2>
        <form name="form" method="POST" action="">
            <table>
                <tr>
                <td>Name</td>
                <td><input type="text" name="name" ></td>
                </tr>
                <tr>
                <td>Age</td>
                <td><input type="number" name="age" ></td>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Save" ></td>
                </tr>
            </table>
            </form>
    </body>
</html>