<div class="container">

  <div class="row">

    <div class="col-lg-12">
    <h2>Username: <%= user.username %></h2>
    <h2>Name: <%= user.name %></h2>
    <h2>Email: <%= user.email %></h2>
    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>